html,body{
    height: 100%;
}
body{
    /* display: flex; */
}
.layout-body{
    float: left;
    width: 80%;
    margin-top: 30px;
}
.layout-slide{
    flex-shrink: 0;
    width:150px;
    height: 500px;
    background: #333333;
    float: left;
    clear: both;
    margin-right: 60px;
}
.layout-main{
    /* display: flex;
    flex: 1;
    flex-direction: column; */
    background:#ccc;
}
.layout-header{
    background:#23262E;
    height: 60px;
    width: 100%;
}

.layout-header .layui-btn{
    float:right;
    margin-top: 14px;
    margin-right: 150px;
    background: #ccc;
    color: #333333;
}
.layout-header .name{
    width: 200px;
    line-height: 60px;
    font-size: 20px;
    color: #ccc;
    margin-left: 70px;
    float: left;
}
.layout-header .span{
    float: left;
    width: 150px;
    font-size: 12px;
    line-height: 60px;
    margin-left: 700px;
    color:#ccc;
}
.layout-header .span a,.layout-header .span i{
    height: 50px;
    line-height: 50px;
    color:#ccc;
}
.layout-slide a {
    display: block;
    height: 62px;
    line-height: 62px;
    border-bottom: 2px solid rgb(85, 75, 75);;
    color: #ccc;
    text-align: center;
    font-size: 14px;
  }


  .banner-table{
    width: 100%;
    border: 1px solid rgb(138, 134, 134);
}
.banner-table .banner-img{
    display: block;
    height: 50px;
    margin: 0 auto;
}
.banner-table th,.banner-table td{
    height: 56px;
    line-height: 56px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(194, 185, 185);
    font-size: 12px;
}

.bottom{
    /* background: orange; */
    height: 50px;
    margin-top: 20px;
}

.banner-button{
    float: right;
    margin-top: 20px;
    margin-right: 80px;
    background: rgb(190, 189, 189);
    color:#333;
    /* border-radius: 4px; */
    border: 1px solid #fff;

}

.banner-nav{
    float: left;
    margin-left: 420px;
}
.banner-nav .pagination a{
    height:36px ;
    background: rgb(190, 189, 189);
}
.banner-nav .pagination .active a{
    background: #337ab7;
}

.update{
    background: rgba(255, 255, 255, 0);
    font-size: 12px;
    border: none;
    color: #333;
}