body{
    /* background: url(../images/loginBg.png) repeat; */
}
#register{
    width: 500px;
    height: 500px;
    /* background:url('../images/loginBg.png') repeat; */
    background: red;
    margin: auto;
}
.header{
    height: 50px;
}
.header h1{
    color: #000;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}
#register .main {
    height: 300px;
}
#register .main input{
    height: 50px;
    border: none;
    widows: 100%;
}